/* 1. exercice-flex */
.exercice-flex .container {
  display: flex;
}

/* 2. exercice-order-1 */


/* 3. exercice-order-2 */


/* 4. exercice-order-3 */


/* 5. exercice-align-self-1*/


/* 6. exercice-align-self-2*/


/* 7. exercice-all-in-1 */


/* 8. exercice-all-in-2 */


/* 8. exercice-margin-auto */

